{% extends 'base.html' %}

{% block title %}Registrar Anticipo De Productos o Servicios{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-12 mb-2">
    <h1 class="text-center text-uppercase">
      ORDEN DE ANTICIPO
      <a style="color: #14ad47; float: right; padding: 0px 10px 0px 0px" href="{% url 'view_form_carga_masiva' %}">
        <i class="bi bi-person-fill-up"></i>
      </a>
      <hr />
    </h1>
  </div>
</div>

<div class="row justify-content-md-center">
  <form name="form_anticipo" method="POST" action="{% url 'registrar_anticipos' %}" class="row justify-content-md-center g-3" enctype="multipart/form-data" oninput="calcularValores()">
    {% csrf_token %}
    <div class="col-md-5">
      <label for="centro_costo" class="form-label">CENTRO COSTO</label>
      <select name="centro_costo" class="form-control" required>
        <option value="ADMINISTRACIÓN">ADMINISTRACIÓN</option>
        <option value="PRODUCCION">PRODUCCION</option>
        <option value="ALEVINERA">ALEVINERA</option>
        <option value="ECOPEZ">ECOPEZ</option>
        <option value="FERRY">FERRY</option>
        <option value="CARRO VNS228">CARRO VNS228</option>
        <option value="CARRO WGY">CARRO WGY</option>
        <option value="CARRO THS 473">CARRO THS 473</option>
        <option value="CARRO PESCA SRP 254">CARRO PESCA SRP 254</option>
        <option value="TERMOKIN GQZ 727">TERMOKIN GQZ 727</option>
        <option value="TERMOKIN GRK 030">TERMOKIN GRK 030</option>
        <option value="THERMO KING THS 592">THERMO KING THS 592</option>
        <option value="UNIDAD COMERCIALIZACION">UNIDAD COMERCIALIZACION</option>
      </select>
    </div>

    <div class="col-md-5">
      <label for="nit" class="form-label">NIT</label>
      <input type="text" name="nit" class="form-control" required />
    </div>

    <div class="col-md-5">
      <label for="nombre" class="form-label">NOMBRE</label>
      <input type="text" name="nombre" class="form-control" required />
    </div>

    <div class="col-md-5">
      <label for="producto_servicio" class="form-label">PRODUCTO O SERVICIO</label>
      <input type="text" name="producto_servicio" class="form-control" required />
    </div>

    <div class="col-md-5">
      <label for="cantidad" class="form-label">CANTIDAD</label>
      <input type="number" name="cantidad" class="form-control" required />
    </div>

    <div class="col-md-5">
      <label for="vlr_unitario" class="form-label">VLR UNITARIO</label>
      <input type="number" name="vlr_unitario" class="form-control" required />
    </div>

    <div class="col-md-5">
      <label for="subtotal" class="form-label">SUBTOTAL</label>
      <input type="number" name="subtotal" class="form-control" readonly />
    </div>

    <div class="col-md-5">
      <label for="iva" class="form-label">IVA (19%)</label>
      <input type="number" name="iva" class="form-control" readonly />
    </div>

    <div class="col-md-5">
      <label for="retencion" class="form-label">RETENCION(2.5%)</label>
      <input type="number" name="retencion" class="form-control" readonly />
    </div>

    <div class="col-md-5">
      <label for="total_pagar" class="form-label">TOTAL A PAGAR</label>
      <input type="number" name="total_pagar" class="form-control" readonly />
    </div>

    <div class="col-md-5">
      <label for="observaciones" class="form-label">OBSERVACION</label>
      <input type="text" name="observaciones" class="form-control" required />
    </div>

    <div class="col-md-5">
      <label for="foto_producto" class="form-label">Cargar foto del Producto o Servicio</label>
      <input type="file" name="foto_producto" class="form-control form-control-sm" required />
    </div>

    <div class="col-md-5"></div>

    <div class="d-grid gap-2 col-8 mx-auto mt-5">
      <button class="btn btn-primary" type="submit">
        Registrar Anticipo
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </form>
</div>

<script>
  function calcularValores() {
    var cantidad = parseFloat(document.querySelector('input[name="cantidad"]').value) || 0;
    var vlr_unitario = parseFloat(document.querySelector('input[name="vlr_unitario"]').value) || 0;
    
    var subtotal = cantidad * vlr_unitario;
    var iva = subtotal * 0.19;
    var retencion = subtotal * 0.025;
    var total_pagar = subtotal + iva - retencion;

    document.querySelector('input[name="subtotal"]').value = subtotal.toFixed(2);
    document.querySelector('input[name="iva"]').value = iva.toFixed(2);
    document.querySelector('input[name="retencion"]').value = retencion.toFixed(2);
    document.querySelector('input[name="total_pagar"]').value = total_pagar.toFixed(2);
  }
</script>

{% endblock %}
